<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Create</h1>

        {{ form_start(createForm) }}
            {{ form_widget(createForm)}}
            <input type="submit" value="Create">
        {{ form_end(createForm) }}
    </body>
</html>
