<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
    </head>
    <body>
        <h1>{{ pin.title }}</h1>
        <p>{{ pin.description }}</p>

        <p><a href="{{ path('app_home') }}">Back</a></p>
    </body>
</html>
